.jobItem {
  display: flex;
  max-width: 345px;
  min-height: 460px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.jobMedia {
  height: 140px;
  margin-bottom: 10px;
}

.date span {
  font-style: italic;
  color: grey;
}

.jobItem strong {
  color: steelblue;
}

.date strong {
  font-size: 16px;
}

.contact strong {
  font-size: 18px;
}